@model DSS.Models.DetailDTO

<link href="~/css/detailsindex.css" rel="stylesheet" />

<div class="blog-single gray-bg">
    <div class="container mt-5">
        <div class="row align-items-start">
            <div class="col-lg-8">
                <article class="article">
                    <div class="mb-4">
                        <img src="https://www.bootdey.com/image/800x350/87CEFA/000000" style="width: 100%;">
                    </div>

                    <h2 class="mb-2">@Model.news.Title</h2>


                    <div class="article-content">
                        @Model.news.Content
                    </div>

                </article>


                <div class="row d-flex mt-5" >
                    <h3 class="">Comments - @Model.comments.Count() </h3>
                    <div class="card text-dark" id="comments-section">

                        <div class="card-body p-4" >

                            @{
                                if (Model.comments.Count() == 0)
                                {
                                    <p class="text-muted">No comment found, write the first comment</p>
                                }
                                foreach (var item in Model.comments)
                                {
                                    <div>

                                        <div class="ms-3">
                                            <div class="d-flex flex-column ">
                                                <div >
                                                    <div class="d-flex">
                                                        <img class="rounded-circle "
                                                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                                                             height="60"/>
                                                        <div class="d-flex flex-column ms-2 align-items-center ">
                                                            <div class="d-flex">
                                                                <h5 class="fw-bold mb-1 ">@item.UserModel.Username</h5>
                                                                @{
                                                                    if (item.UserModel.Id == item.NewsModel.UserModel.Id)
                                                                    {
                                                                        <span class="badge bg-danger">
                                                                            Author
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge bg-primary">
                                                                            Reader
                                                                        </span>
                                                                    }
                                                                }
                                                            </div>
                                                            <p class="mb-0">
                                                                March 07, 2021

                                                            </p>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div class=" text-wrap ps-0 me-2">
                                                    <p class=" mb-0 mt-2 text-wrap">
                                                        @item.Content
                                                    </p>

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <hr class="mt-5"/>
                                }
                            }


                        </div>


                    </div>


                </div>
                <div class="contact-form article-comment">
                    <h4>Leave a Reply</h4>
                    <form id="contact-form" method="POST" asp-controller="Details" asp-action="Index">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <textarea name="content" id="content" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn" value="Index">
                                        <span>Submit</span> <i class="arrow"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-lg-4 blog-aside">
                
                <div class="card" style="width: 100%; height: 25%;">
                    <div class="card-body">
                        <p class="card-title">Author</p>
                    </div>

                    <div class="card-body">
                        <div class="d-flex gap-3 align-items-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" style="width: 100px; height: 100px; border-radius: 180px;" class="card-img-top" alt="...">
                            <h2>Hello I am @Model.news.UserModel.Username</h2>
                        </div>
                        <p class="card-text mt-3"> I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores</p>
                    </div>

                </div>

                <div class="widget mt-5">
                    <div class="widget-title">
                        <h3>Latest News</h3>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://letzcricket.com/uploads/news/Pk9jw3Z9iv8EBLxE.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Paras Khadka retires from international cricket</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://letzcricket.com/uploads/news/Pk9jw3Z9iv8EBLxE.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Paras Khadka retires from international cricket</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://letzcricket.com/uploads/news/Pk9jw3Z9iv8EBLxE.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Paras Khadka retires from international cricket</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://letzcricket.com/uploads/news/Pk9jw3Z9iv8EBLxE.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Paras Khadka retires from international cricket</h5>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="widget">
                    <div class="widget-title">
                        <h3>Current News Tags</h3>
                    </div>
                    <div>
                        
                        <a href="">Design</a>,
                        <a href="">Development</a>,
                        <a href="">Web Design</a>,
                        <a href="">Marketing</a>,
                        <a href="">Research</a>,
                        <a href="">Managment</a>

                    </div>
                </div>
                <!-- End widget Tags -->
            </div>
        </div>
    </div>
</div>