@{
    ViewData["Title"] = "Home Page";
}
@using DSS.Repository.CommentRepository
@model NewsDTO


<link rel="stylesheet" href="css/HomeIndex.css">

<div class="container main-news section ">
    
    @{
        if (TempData["loginMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show  " role="alert">
                @TempData["loginMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        if (TempData["logoutMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show  " role="alert">
                @TempData["logoutMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        if (TempData["addNewsMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show  " role="alert">
                @TempData["addNewsMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }
    <div class="section-title">
        <span>Editor's Picks</span>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6">

            @{
                if (@Model?.mainNewsList.Count != 0)
                {
                    <div class="card position-relative news-card mb-4" onclick="location.href='@Url.Action("Index", "Details", new { newsId = @Model?.mainNewsList[0]?.news.Id })';">
                        <div class="overlay"></div>
                        @{
                            if (@Model?.mainNewsList[0]?.news.ThumbnailImgUrl != null)
                            {
                                <img src="@Model?.mainNewsList[0]?.news.ThumbnailImgUrl" class=" card-img-top thumb" alt="...">
                            }
                  
                            else{
                                <img src="Content/News.jpg" class=" card-img-top thumb" alt="...">
                        
                            }
                        }

                        <h2 class="card-title position-absolute w-100 text-light card-title-inside-img">
                            @Model?.mainNewsList[0]?.news.Title <br/> <small class="text-white-50" style="font-size: 0.5em;">@Model?.mainNewsList[0]?.commentCount Comments</small>
                        </h2>

                    </div>
                }
                else
                {
                    <p class="disabled">No news found</p>
                }
                
               

            }



        </div>

        <div class="col-sm-12 col-md-6 col-lg-6  ">
            <div class="row  ">
                <div class="col-md-6 col-sm-12  col-lg-6">
                    @{
                        if (@Model?.mainNewsList.Count != 0)
                        {
                            int itemsToRender = Math.Min(Model?.mainNewsList?.Count ?? 0, 2);

                            for (var i = 1; i < itemsToRender; i++)
                            {
                              
                                if (@Model?.mainNewsList[i]?.news.ThumbnailImgUrl != null)
                                {
                                    <div class="card position-relative news-card mb-4" onclick="location.href='@Url.Action("Index", "Details", new { newsId = @Model?.mainNewsList[i]?.news.Id })';">
                                        <div class="overlay"></div>
                                        <img src="@Model?.mainNewsList[i]?.news.ThumbnailImgUrl" class="card-img-top thumb" alt="...">
                                        <h5 class="card-title position-absolute w-100 text-light card-title-inside-img">
                                            @Model?.mainNewsList[i]?.news.Title <br/> <small class="text-white-50" style="font-size: 0.5em;">@Model?.mainNewsList[0]?.commentCount Comments</small>
                                        </h5>

                                    </div>
                                }  else
                                {
                                <div class="card position-relative news-card mb-4" onclick="location.href='@Url.Action("Index", "Details", new { newsId = @Model?.mainNewsList[i]?.news.Id })';">
                                    <div class="overlay"></div>
                                    <img src="Content/News.jpg" class="card-img-top thumb" alt="...">
                                    <h5 class="card-title position-absolute w-100 text-light card-title-inside-img">
                                        @Model?.mainNewsList[i]?.news.Title <br /> <small class="text-white-50" style="font-size: 0.5em;">@Model?.mainNewsList[0]?.commentCount Comments</small>
                                    </h5>

                                </div>
                                }
                            }
                        
                        }
                        
                    }

                </div>

                <div class="col-md-6 col-sm-12  col-lg-6">
                    @{
                        if (@Model?.mainNewsList.Count != 0)
                        {

                            for (var i = 3; i < Math.Min(Model.mainNewsList.Count, 5); i++)
                        {
                                if (i < Model.mainNewsList.Count && Model.mainNewsList[i].news.ThumbnailImgUrl != null)
                            {
                                
                          
                                <div class="card position-relative news-card mb-4" onclick="location.href='@Url.Action("Index", "Details", new { newsId = @Model?.mainNewsList[i]?.news.Id })';">
                                    <div class="overlay"></div>
                                    <img src="@Model?.mainNewsList[i]?.news.ThumbnailImgUrl" class="card-img-top thumb" alt="...">
                                    <h5 class="card-title position-absolute w-100 text-light card-title-inside-img">
                                        @Model?.mainNewsList[i]?.news.Title <br/> <small class="text-white-50" style="font-size: 0.5em;">@Model?.mainNewsList[0]?.commentCount Comments</small>
                                    </h5>

                                </div>
                            }
                            else
                            {
                                <div class="card position-relative news-card mb-4" onclick="location.href='@Url.Action("Index", "Details", new { newsId = @Model?.mainNewsList[i]?.news.Id })';">
                                    <div class="overlay"></div>
                                    <img src="Content/News.jpg" class="card-img-top thumb" alt="...">
                                    <h5 class="card-title position-absolute w-100 text-light card-title-inside-img">
                                        @Model?.mainNewsList[i]?.news.Title <br/> <small class="text-white-50" style="font-size: 0.5em;">@Model?.mainNewsList[0]?.commentCount Comments</small>
                                    </h5>

                                </div>
                            }
                        }
                        }
                    }


                </div>
            </div>
        </div>
    </div>
</div>

<div class="container section mt-4">
    <div class="section-title">
        <span>Latest Headlines</span>
    </div>
    <div class="row align-items-center">


        @{
            if (Model.latestNewsList.Count() != 0)
            {
                foreach (var news in Model.latestNewsList)
                {
                    <div class="col-sm-12  col-md-3 col-lg-3" onclick="location.href='@Url.Action("Index", "Details", new { newsId = news.news.Id })';">
                        <div class="card mb-3 border-0">
                            <div class="overlay"></div>
                            @{
                                if (news.news.ThumbnailImgUrl != null)
                                {
                                    <img src="@news.news.ThumbnailImgUrl" class="card-img-top" alt="...">
                                }
                                else
                                {
                                    <img src="/Content/News.jpg" class="card-img-top" alt="...">
                                }
                            }
                            
                            <div class="card-body">
                                <h5 class="card-title text-white">@news.news.Title</h5>
                                <p class="card-text">
                                    <small class="text-white-50" style="font-size: 0.7em;">@news.commentCount Comments</small>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="disabled">No news found</p>
            }

        }


    </div>
</div>


<div class="container section">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-12 ">
    <div class="mb-4 mt-4">
        <div class="section-title">
            <span>All News</span>
        </div>
        @{
            if (Model.allNewsList.Count() != 0)
            {
                Console.WriteLine(Model.allNewsList.Count());
                foreach (var news in Model.allNewsList)
                {
                    <div class="row mb-3 bb-1 pt-0 all-news-item border-4" style="word-wrap: break-word;" onclick="location.href='@Url.Action("Index", "Details", new { newsId = news.news.Id })';">
                        @{
                            if (news.news.ThumbnailImgUrl != null)
                            {
                                <div class="col-md-4 col-lg-4 col-sm-12 ">

                                    <img class="thumb" src="@news.news.ThumbnailImgUrl">
                                </div>

                                <div class="col-md-8 col-lg-8 col-sm-12 d-flex flex-column">
                                    <h5>

                                        @news.news.Title

                                    </h5>
                                    <small> @news.commentCount Comments</small>


                                    @news.news.Content.Substring(0, Math.Min(news.news.Content.Length, 200))...


                                </div>
                            }
                            else
                            {
                                <div class="col-12  d-flex flex-column">
                                    <h5>

                                        @news.news.Title

                                    </h5>
                                    <small> @news.commentCount Comments</small>


                                    @news.news.Content.Substring(0, Math.Min(news.news.Content.Length, 200))...


                                </div>
                            }
                        }


                    </div>
                }
            }
            else
            {
                <p class="disabled">No news found</p>
            }

        }
        @{
            var newsCount = Model.newsCount;
            var pageCount = Math.Ceiling(newsCount / 10);
            var idRouteValue = Context.Request.RouteValues["id"];

            int id;
            if (idRouteValue == null)
            {
                id = 1;
            }
            else
            {
                id = int.Parse(idRouteValue.ToString());
            }
            if (id == 0)
            {
                id = 1;
            }


            if (Model.allNewsList.Count() != 0)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @{
                            if (id - 1! < 1)
                            {
                                <li class="page-item">
                                    <a class="page-link disabled text-muted" style="pointer-events: none;">Previous</a>
                                </li>
                            }
                            else
                            {
                                var prevId = id - 1;
                                <li class="page-item ">
                                    <a class="page-link " asp-action="Index" asp-controller="Home" asp-route-id="@prevId">Previous</a>
                                </li>
                            }
                        }



                        @{
                            if (id <= 5)
                            {
                                for (var i = 1; i < id; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-id="@i">@i</a>
                                    </li>
                                }
                            }
                            else
                            {
                                for (var i = id - 5; i < id; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-id="@i">@i</a>
                                    </li>
                                }
                            }



                        }

                        <li class="page-item active">
                            <a class="page-link">@id</a>
                        </li>


                        @{
                            if (pageCount - id >= 5)
                            {
                                for (var i = id + 1; i < id + 5; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-id="@i">@i</a>
                                    </li>
                                }
                            }
                            else
                            {
                                for (var i = id + 1; i <= pageCount; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-id="@i">@i</a>
                                    </li>
                                }
                            }

                        }





                        @{
                            if (id < pageCount)
                            {
                                var nextId = id + 1;
                                <li class="page-item">
                                    <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-id="@nextId">Next</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled text-muted">
                                    <a class="page-link " style="pointer-events: none;">Next</a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            }



        }


    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 ">
    <div class="trending mt-4">
        <div class="section-title">
            <span>Trending</span>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <img class="thumb" src="https://letzcricket.com/uploads/news/Pk9jw3Z9iv8EBLxE.jpg">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <a href="detail.html">
                    Paras Khadka retires from international cricket
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <img class="thumb" src="https://letzcricket.com/uploads/articles/dddNsPXVC6f5bmI5.jpg">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <a href="detail.html">
                    Can Rohit be next Sehwag in Indian Test Cricket
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <a href="detail.html">
                    India win series despite Sam Curran's Heroics
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <img class="thumb" src="https://letzcricket.com/uploads/news/ZqXXlQDeCffne57g.jpg">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <a href="detail.html">
                    Domestic Cricket Changing the Face of Nepali Cricket
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <img class="thumb" src="https://letzcricket.com/uploads/news/rTv8qzdEizH8HSTE.png">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <a href="detail.html">
                    Afridi to play Everest Premier League from Kathmandu Kings
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>